/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/*-----end of reset-----*/

body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
}


div {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

p {
  height: 20vh;
  font-variant: small-caps;
  font-size: 30px;
  font-family: arial;
}

p, h2 {
  text-align: center;
}